[submodule "prereq_ts"]
	path = prereq_ts
	url = git@github.com:harneetsahi/turbine-pre-req.git
[submodule "prereq_rs"]
	path = prereq_rs
	url = git@github.com:harneetsahi/turbine-pre-req-rs.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:harneetsahi/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:harneetsahi/anchor-vault.git
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = git@github.com:harneetsahi/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = git@github.com:harneetsahi/anchor-amm.git
